<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header'); %>
    <title>App | Calendar</title>
    <script type="text/javascript" src="javascripts/calendar.js"></script>
</head>
<body>
    <%- include('navbar'); %>
    <div class="container" id="calendar">
    </div>
    <div id="eventContent" title="Event Details" style="display:none;">
        Start: <span id="startTime"></span><br>
        End: <span id="endTime"></span><br><br>
        <p id="eventInfo"></p>
        <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
    </div>
</body>
<script>
    function htmlDecode(input){
        var e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
    var calendar = JSON.parse(htmlDecode("<%= JSON.stringify(calendar) %>"));
</script>
</html>