<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App | Group</title>
    <%- include('header');%>
</head>
<body>
    <%- include('navbar');%>
    <div class="container">
        <div class="page-header jumbotron">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a href="/join-group" class="btn btn-sq btn-secondary">
                        <i class="fa fa-5x fa-address-book-o" aria-hidden="true"></i><br/><br/>
                        Join Group
                    </a>
                </div>
            </div>
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a href="/create-group" class="btn btn-sq btn-secondary">
                        <i class="fa fa-5x fa-users"></i><br/><br/>
                        Create Group
                    </a>
                </div>
            </div>
            <h2>My Groups</h2>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Group ID</th>
                <th>Number of Members</th>
            </tr>
        </thead>
        <tbody>
        <% for(var i=0; i< groups.length; i++){ %>
            <tr>
                <td><%= groups[i].groupID%></td>
                <td><%= groups[i].numberofusers %></td>
            </tr>
        <%}%>
        </tbody>
    </table>
</body>
</html>
