<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App | Calendars</title>
    <%- include('header');%>
</head>
<body>
    <%- include('navbar');%>
    <div class="container">
        <div class="page-header jumbotron">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a href="/create-group" class="btn btn-sq btn-secondary">
                        <i class="fa fa-5x fa-users"></i><br/><br/>
                        Create Group
                    </a>
                </div>
            </div>
            <h2>My Groups</h2>
        </div>
    </div>
</body>
</html>